@import "../../../node_modules/bootstrap/scss/functions"
@import "../../../node_modules/bootstrap/scss/variables"
@import "../../../node_modules/bootstrap/scss/mixins"
@import "../colors"

.backgroundColor
    background-color: $light

.nav
    width: 100%
    font-size: 1.6em
    height: 60px

